<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>task-identifier</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(DISPLAY_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>SNS Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
				<string>fb${FACEBOOK_APP_ID}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>unilinks:app.togodo.co</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>logrckt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.623189034780-chk7up4jjfbv6remu2fp4415os3043lv</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>${FACEBOOK_APP_ID}</string>
	<key>FacebookClientToken</key>
	<string>f3a5b238a41aa74d21b1302a2ef255b8</string>
	<key>FacebookDisplayName</key>
	<string>$(DISPLAY_NAME)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GOOGLE_MAPS_API_KEY</key>
	<string>$(GOOGLE_MAPS_API_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>iosamap</string>
		<string>yandexmaps</string>
		<string>yandexnavi</string>
		<string>citymapper</string>
		<string>mapswithme</string>
		<string>here-location</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>fb</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fbapi</string>
		<string>facebook-reels</string>
		<string>facebook-stories</string>
		<string>fb-messenger-share-api</string>
		<string>fb-messenger</string>
		<string>tg</string>
		<string>whatsapp</string>
		<string>twitter</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>$(PRODUCT_NAME) requires access to play music</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_dartobservatory._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>To capture and share photos of your activities and achievements with the community, we require access to your camera. This allows you to showcase your talents and engage with other people, fostering a vibrant and supportive community.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We request access to your location to enhance your networking and engagement within the community. This enables you to connect with nearby events and communities, facilitating meaningful interactions and expanding your social circle.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Access to your microphone is essential for adding voice comments or narrations to the photos and videos of your activities. This feature provides more context and information about your posts, enriching the community experience and allowing you to express yourself more dynamically.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To upload and share images or videos of your activities and achievements with the togodo community, we require access to your photo library. This functionality enables you to easily select, upload, and share your content, showcasing your talents and experiences for the enjoyment and inspiration of others.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver new offers for you.</string>
	<key>PLIST_KEY</key>
	<string>MOCKED_VALUE</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>unilinks:app.togodo.co</string>
	</array>
	<key>com.apple.security.device.audio-input</key>
	<true/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
